@model List<ProductReturnVM>
@{
    ViewData["Title"] = "ShowItem";
    int count = 0;
}

<div class="container">
    
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success sale" >
                @TempData["success"];
            </div>
        }
  
    <div class="row">
       @if(Model.Count>0)
       {
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">TotalPrice</th>
                  <th scope="col"></th>

                </tr>
              </thead>
              <tbody>
               @foreach (var item in Model)
                            {
                                count++;
                <tr>
                  <th scope="row">@count</th>
                  <td><img width="50" height="50" src="~/img/@item.ImgUrl"/></td>
                  <td>@item.Name</td>
                  <td>@item.Price</td>
                  <td><a asp-controller="basket" asp-action="minusBtn"asp-route-id="@item.Id" class="btn btn-secondary rounded-circle mx-1">-</a> @item.ProductCount <a asp-controller="basket" asp-action="plusBtn" asp-route-id="@item.Id" class="btn btn-secondary rounded-circle mx-1">+</a></td>
                  <td>@(item.Price*item.ProductCount)</td>
                  <td><a asp-controller="basket" asp-action="removeitem" asp-route-id="@item.Id" class="btn btn-danger" >x</a></td>

                </tr>
      
              }
    
              </tbody>
          </table>
       }
       else
       {
       <a class="btn btn-primary" asp-controller="product" asp-action="index">Return To Home</a>
       }
    </div>
    <div class="row justify-content-center">
        <div>
            <p class="text-danger">Total Price: @Model.Sum(p=>p.Price*p.ProductCount) $</p>
            
        </div>
       <div>
            <form asp-action="Sale" method="post">
                <button type="submit" class="btn btn-success mx-5">Sale</button>
            </form>
       </div>
       
    </div>
</div>

@section Scripts
{
<script>
    setTimeout(()=>{
    document.querySelectorAll(".sale").forEach((item)=>
        {
            item.remove
        }
    )},5000
    )
</script>
}


